@model List<orion.ConcractApplication.DTO.ConcractDTO>;
@{
    ViewData["Title"] = "Copy";
}

<h3>Izvestaji</h3>

<div class="row">
    <h4>Skoriji ugovori</h4>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                
                <td>Broj Ugovora</td>
                <td>Username</td>
                <td>Trajanje</td>
                <td>Datum kreiranje</td>
                <td>Stampaj</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var concract in Model)
            {
                <tr id="@concract.Id">
                    
                    <td>@concract.Id</td>
                    <td>@concract.Username</td>
                    <td>@concract.Duration.ToString().Replace('_', ' ')</td>
                    <td>@concract.StartDate.ToString()</td>
                    <td>
                        <a asp-controller="Concract" asp-action="CreatePDF" asp-route-id="@concract.Id" class="btn btn-danger">Stampaj</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
